*
{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
body
{
	background-image:url(d9.jpg);
	background-position:center;
	font-family: sans-serif;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.menu
{
	width: 100%;
	height:10%;
	background-color:rgba(0,0,0,0.5);
	border-bottom: 1px solid black;
}
.leftmenu
{
	width: 25%;
	line-height:60px;
	float: left;

}
.leftmenu h2
{
	padding-left: 10px;
	font-weight: bold;
	color:white;
	font-size: 15px;
	font-family:sans-serif;
	text-transform: uppercase;
}
.rightmenu
{
	width:75%;
	height:100%;
	float:right;
	list-style: none;

}
.rightmenu ul li
{
	padding-top: 20px;
	padding-right: 10px;
	font-family: sans-serif;
	display:inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
	float:right;
	top-margin:10px; 
	
}
.rightmenu ul li a
{
	text-decoration: none;
	color:#fff;
	float:right;
	list-style: none;
}
.sidebar
{
	position:absolute;
	width: 200px;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	border-bottom: 1px solid black;
}
.sidebar header
{
	
	font-size: 20px;
	color:white;
	text-align:center;
	line-height:50px;
	background-color:rgba(0,0,0,0.5);
	user-select:none;
	border-bottom: 1px solid black;
}
.sidebar ul a
{

	display: block;
	width:200px;
	line-height:50px;
	font-size:17px;
	color:white;
	padding-left: 50px;
	text-decoration: none;
	
}
ul li a:hover 
{
	padding-left: 50px;
	color:#DC143C;
}
section
{
	background:url() no-repeat;
	background-position: center;
	background-size:cover;
	height:100vh; 
}
